.portfolio{
    max-width: 950px;
    margin:0 auto;
   
}


.portfolio .titulo-seccion{
    font-size:30px;
    text-transform: uppercase;
    color:var(--colorcito);
    text-align: center;
    font-family: var(--letrita);
    
}

.proyecto{
    
    width:50%; 
    max-width: 300px;
    min-width: 200px;
    border-radius: 20px;
    margin:20px auto;
    position :relative;
    overflow: hidden;  
    text-align: center; 

}

.proyecto img{
    border-radius: 20px;
    width: 100%;
    
    height: 200px;
    filter:grayscale(0.8);
    object-fit: cover;
    transition:0.5s;
    display: block;
    margin:0 10px;
    transition: 0.5s;

}
.proyecto:hover img{
    filter:grayscale(0);
    transform: scale(1.1) rotate(-1deg);;
}
.proyecto .info{
    position:absolute;
    left: 0;
    background-color: rgba(0,0,0,.8);
    color:aliceblue;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition:.8s;
}
.proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

@media(min-width:950px){
    .portfolio .fila{
        display: flex;
        justify-content: space-between;    

    }  
    .portfolio .titulo-seccion{
        font-size:50px;
               
    } 
}
